.ThirdPage{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(236, 236, 236, 0.733) 0 0), url("../Images/patternpad2.png") center/cover;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.ThirdPage img{
    width: 50%;
    border-radius: 80%;
}

.ThirdPage .img{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.ThirdPage .part-one .img{
  transform: translateY(100%);
  opacity: 0;
  transition: 2s all cubic-bezier(.07,.59,.69,1.02);
}

.ThirdPage .part-one .img.active{
  opacity: 1;
  transform: translateY(0%);
}

.ThirdPage .part-two .img{
  transform: translateY(-100%);
  opacity: 0;
  transition: 2s all cubic-bezier(.07,.59,.69,1.02);
}

.ThirdPage .part-two .img.active{
  opacity: 1;
  transform: translateY(0%);
}

.ThirdPage .part-one .text{
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0 30px 30px 0;
    text-align: center;
    font-size: 18px;
    transform: translateX(-100%);
    opacity: 0;
    transition: 2s all cubic-bezier(.07,.59,.69,1.02);
}

.ThirdPage .part-one .text.active{
  opacity: 1;
  transform: translateX(0%);

}

.ThirdPage .part-two .text{
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 30px 0 0 30px;
    transform: translateX(100%);
    opacity: 0;
    transition: 2s all cubic-bezier(.07,.59,.69,1.02);
}

.ThirdPage .part-two .text.active{
  opacity: 1;
  transform: translateX(0%);
}


@keyframes slide-inX-partOneText{
    0% {
        opacity: 1;
        transform: translateX(-30%);
      }
      20% {
        opacity: 1;
      }
      50% {
        opacity: 1;
        transform: translateX(0%);
      }
      100% {
        opacity: 1;
        transform: translateX(0%);
      }
}

@keyframes slide-inX-partTwoText{
    0% {
        opacity: 1;
        transform: translateX(30%);
      }
      20% {
        opacity: 1;
      }
      50% {
        opacity: 1;
        transform: translateX(0%);
      }
      100% {
        opacity: 1;
        transform: translateX(0%);
      }
}

@keyframes slide-inY-partOneImg{
    0% {
        opacity: 0;
        transform: translateY(30%);
      }
      20% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: translateY(0%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
}

@keyframes slide-inY-partTwoImg{
    0% {
        opacity: 0;
        transform: translateY(-30%);
      }
      20% {
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: translateY(0%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
}

@media (max-width:680px){
    .ThirdPage{
        grid-template-columns: 1fr;
    }

    .ThirdPage img,.img{
        display: none;
    }

    .ThirdPage .part-one .text{
        background-color: transparent;
        animation: slide-inY-partOneImg 3s ease-out forwards;
        font-weight: 300;
        margin: 0 auto;
    }

    .ThirdPage .part-two .text{
        background-color: transparent;
        animation: slide-inY-partTwoImg 3s ease-out forwards;
        font-weight: 300;
    }

    .ThirdPage .part-one{
        background:linear-gradient(rgba(0, 0, 0, 0.667) 0 0), url("../Images/mentoring2.png") center/cover;
        height: 50vh;
        display: flex;
        align-items: center;
        color: white;
        text-align: center;
        line-height: 32px;
        
    } 

    .ThirdPage .part-two{
        background:linear-gradient(rgba(0, 0, 0, 0.667) 0 0),url("../Images/mentoring4.png") center/cover;
        height: 50vh;
        display: flex;
        align-items: center;
        color: white;
        text-align: center;
        line-height: 32px;
    }

}